h1 {
    color: black;
    background-color: orangered;
    padding: 36px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

div {
    padding: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: #EEEEEE;

}

.Pizza {
    background-color: green;
    font-size: 12px;
}

.Baked-Ziti {
    background-color: gold;
    font-size: 12px;
}

.Breakfast-Smoothie {
    background-color: violet;
    font-size: 12px;
}
